@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*-------------------
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
    position:relative;
  vertical-align:middle;
  text-align:center;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:28px;
    line-height:100px;
    color:#ffffff;
    text-align:center;
}
.not-fullscreen {
    height:50%;
}
/*--------------------------------------*/

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px;
}

.para{
  padding:15px 0; 
}

nav.top-bar.expanded{
  z-index: 1000;
}

.top-bar .contain-to-grid {
  position: relative;
  background: none repeat scroll rgba(255, 255, 255, 0.5);
}

.top-bar-section{
  padding-right: 3%;
}

#logo{
  position: relative;
}

#header > #info-text{
  color: #F4F4F4;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}

#info-text > h3 {
  color: #F4F4F4;
}
#info-text > h6{
  color: #F4F4F4;
}

#footer {
  background-color: #F4F4F4;
  color:white;
  clear:both;
  text-align:center;
  padding-top: 15px;
}

.sub-title{
  color: #006699;
}

.full-width-img{
  min-width: 100%;
}
