
.sub-title{
  color: #006699;
}

#footer {
    background-color: #F4F4F4;
    color:white;
    clear:both;
    text-align:center;
    padding: 25px; 
}

.section{
  padding: 100px 0px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px;
}
 
.img-height{
  max-height: 100%;

} 

.image {
  background-size: cover;
  background-repeat: no-repeat;   
  position: relative; 
}

.image > h1{
  position: absolute; 
  top: 5%; 
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #DCDCDC;
  padding: 2% 0px;
 }

.image  > h2{
  position: absolute; 
  bottom: 10%; 
  padding: 1% 0px;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #DCDCDC;
 }

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


